/* styles.css */

.background {
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

.background {
  position: fixed; /* Ensures the background stays fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/tile-background.png");
  z-index: -1;
}

.fridge {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  background-color: #CAC7C7;
  border-top-right-radius: 65px;
  border-top-left-radius: 65px;
  justify-content: center; /* Center children within the fridge */
  width: 85vw; /* Width of the fridge */
  height: 90vh;
  
  margin-top: 5vh; /* Space from the top of the viewport */
  position: relative; /* Required for positioning children */
  border-bottom: 50px solid #767474;
}

.handle {
  background-color: #767474; /* Color for the handle */
  border-radius: 35px; /* Rounded corners for the handle */
  width: 75px; /* Width of the handle */
  height: 650px; /* Height of the handle */
  align-self: left; /* Center horizontally within the fridge */
  margin-left: 6vw;
  margin-top: 5vh;
  position: absolute;
}

.handle-shadow {
  background-color: #3F3F3F; /* Color for the shadow */
  border-radius: 35px; /* Rounded corners for the shadow */
  width: 75px; /* Match the handle width */
  height: 650px; /* Match the handle height */
  position: absolute; /* Positioning relative to the fridge */
  margin-top: 5vh;
  z-index: 0; /* Behind the handle */
  align-self: left;
  margin-left: 5vw;
}
