.words-container {
    position: absolute; /* Position the letters relative to this container */
    width: 100%; /* You can set a specific width */
    height: 500px; /* Set a specific height */
    left: 33%; 
    top: 3rem;
}

.whats {
    margin-right: auto; 
    transform: translateX(-150px); 
}

.cookin {
    margin-left: auto; 
    transform: translateX(20px); 
}