.test {
    position: absolute;
    background-color: red;
    z-index: 1; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
}

.polaroid-button {
    position: absolute;  
    left: 27%;
    top: 23rem;
    
}

.polaroid-button img {
    transition: transform 0.3s;
}

.polaroid-button img:hover {
    transform: scale(1.05);
}

.sticky-note-button {
    position: absolute; 
    left: 52%;
    top: 22rem;
    transition: transform 0.3s;
}

.sticky-note-button img {
    transition: transform 0.3s;
}

.sticky-note-button img:hover {
    transform: scale(1.05);
}