@font-face {
    font-family: 'Just Me Again'; 
    src: url('imgs/JustMeAgainDownHere-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

.app-container {
    position: relative; /* Ensure that elements inside can be positioned relative to this container */
}

.test {
    position: absolute;
    top: 50px; /* Adjust this to move the div above the fridge */
    left: 50%;
    transform: translateX(-50%);
    background-color: yellow;
    padding: 10px;
    border: 2px solid black;
    z-index: 1; /* Ensure it appears above other elements */
}

ul {
    position: absolute; 
    list-style-type: none; 
    left: 33%;
    top: 6rem;
    opacity: .8;
}

.food-list {
    font-family: "Just Me Again", sans-serif; 
    font-size: 45px; 
    
}

.paper {
    position: absolute; 
    left: 25%;
}

.x {
    width: 50px;
    height: auto;
    position: absolute; 
    left: 70%;
    top: 2rem;
}

.x img {
    width: 100%; /* the image takes the full width of the .x div */
    height: 100%; /* the image takes the full height of the .x div */
    /* transition: transform 0.3s ease; smooth transition for scaling */
}

.x img:hover {
    transform: scale(1.2); /* Scale up the image on hover */
}

.container {
    display: flex;             
    justify-content: center;    
    align-items: center;        
    height: 100vh;         
    position: relative;    
}

.camera {
    position: absolute; 
}

.blank-image,
.selected-image {
    position: absolute;
    transform: translate(-15%, 10%);
    width: 607px;  /* adjusts image width to match blank image */
    height: 491px; /* adjusts image height to match blank image */
    object-fit: cover; /* crops image */
    border-radius: 24px; /* rounds the edges */
}

.selected-image {
    object-fit: cover;
    z-index: 2; 
}

.add-icon {
    position: absolute;
    transform: translate(-45%, 10%);
}

.x-btn {
    transform: translate(445%, 320%);
}

.confirm-btn {
    transform: translate(345%, 450%); 
}

.redo-btn {
    transform: translate(245%, 530%); 
    left: 67%;
    top: 1rem;
}