@font-face {
    font-family: 'Just Me Again'; 
    src: url('imgs/JustMeAgainDownHere-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

.app-container {
    position: relative; /* Ensure that elements inside can be positioned relative to this container */
}

.test {
    position: absolute;
    top: 50px; /* Adjust this to move the div above the fridge */
    left: 50%;
    transform: translateX(-50%);
    background-color: yellow;
    padding: 10px;
    border: 2px solid black;
    z-index: 1; /* Ensure it appears above other elements */
}

ul {
    position: absolute; 
    list-style-type: none; 
    left: 33%;
    top: 6rem;
    opacity: .8;
}

.food-list {
    font-family: "Just Me Again", sans-serif; 
    font-size: 45px; 
    
}

.paper {
    position: absolute; 
    left: 25%
}

.x {
    position: absolute; 
    left: 67%;
    top: 1rem;
}